@use "../base/variable.scss" as *;
@use "../base/mixins.scss" as *;

footer {
  background-color: $bg-primary;
  color: $color-text;
  @include flexbox(column, center, stretch);
  gap: 3rem;
  padding: 1.5rem;

  li {
    @include fluid-text(1rem, 2vw, 1.2rem);
    width: fit-content;
    margin: 1.5rem 0;
    transition: 0.2;
    &:hover {
      transform: scale(1.2);
    }
    a {
      @include flexbox(row, flex-start, center);
      gap: 1.5rem;
    }
  }

  .footer__brand {
    @include flexbox(row, space-evenly, center);
    border-bottom: 2px solid white;
  }

  .footer__contact {
    padding: 1rem;
  }

  .footer__info {
    padding: 1rem;
  }
  span {
    text-align: center;
    border-top: 2px solid white;
    padding: 1rem;
    display: block;
    @include fluid-text(1rem, 2vw, 1.2rem);
  }
}

@include responsive($bp-md) {
  .footer_conteneur {
    max-width: 1000px;
    width: 80%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas:
      "brand brand"
      "contact info"
      "copy copy";

    .footer__brand {
      @include flexbox(row, center, center);
      grid-area: brand;
      text-align: center;
    }

    .footer__contact {
      grid-area: contact;
    }

    .footer__info {
      grid-area: info;
    }

    span {
      grid-area: copy;
      text-align: center;
    }
  }
}
