@use "../base/variable.scss" as *;
@use "../base/mixins.scss" as *;

.header-home {
  position: relative;
  background-color: $bg-primary;
  color: $color-text;
  @include flexbox(column, space-between, stretch);

  nav {
    @include flexbox(column, center, center);
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 100%;
    pointer-events: none;
    background: rgb($color-btn, 0.7);
    backdrop-filter: blur(8px);
    overflow: hidden;
    opacity: 0;
    transform: translateY(-100px);
    transition:
      opacity 0.2s ease,
      transform 0.2s ease;
    &.open {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    ul {
      @include flexbox(column, center, center);
      text-align: center;
      padding: 1rem 0;

      li {
        @include fluid-text(1.2rem, 2vw, 1.5rem);
        width: auto;
        margin: 1rem 0;
        color: white;
        border-bottom: 2px solid $bg-primary;
      }
    }
  }
}

.header-close {
  border: none;
  background: inherit;
  position: absolute;
  top: 2px;
  right: 2px;
}

.header_top {
  @include flexbox(row, space-evenly, center);
  flex: 0 0 100%;

  figure {
    margin-inline: 0.7rem;
    border: none;
  }

  button {
    border: none;
    background: inherit;
    color: $color-text;
  }
}

.banner {
  flex-basis: 100%;
  min-height: 80dvh;
  @include flexbox(column, center, center);
  gap: 2rem;
  text-align: center;
  border-top: 3px solid white;
  background-image: url("../img/banner.webp");
  background-size: cover;
  background-position: center;

  p {
    padding: 1rem;
  }

  a {
    @include fluid-text(1rem, 1.8vw, 1.5rem);
    background-color: $color-btn;
    padding: 1rem;
    margin: 1rem 0;
    border: none;
    border-radius: 1rem;
    transition:
      transform 0.2s ease,
      border 0.2s ease;
    &:hover {
      transform: scale(1.1);
      border: 1px solid white;
      color: black;
    }
  }
}

@include responsive($bp-lg) {
  .header-home {
    @include flexbox(row, flex-start, center);
    flex-wrap: wrap;

    nav {
      flex: 1 0 40%;
      position: static;
      opacity: 1;
      transform: none;
      pointer-events: auto;
      overflow: visible;
      background: none;
      width: auto;
      height: auto;
      ul {
        @include flexbox(row, space-between, center);
        padding-inline: 1rem;
        flex: 1;

        li {
          border-right: 1px solid white;
          padding-inline: 1rem;
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.12);
          margin-inline: 1rem;
        }
      }
    }
  }

  .header_top {
    flex: 0 0 40%;
    @include flexbox(row, flex-start, center);
  }

  button {
    display: none;
  }
}
