*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  background-color: #f8e9c9;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

body {
  font-size: 16px;
  line-height: 1.6;
  font-family: "BenchNine", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: clamp(3.5rem, 7vw, 4.5rem);
  letter-spacing: 1px;
  text-align: center;
}

h2 {
  font-size: clamp(2rem, 4vw, 3rem);
  letter-spacing: 2px;
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

h4 {
  font-size: clamp(1.2rem, 2.5vw, 1.8rem);
  letter-spacing: 2px;
}

header li {
  font-size: clamp(1.1rem, 2vw, 1.5rem);
}

p,
main li,
footer li {
  font-size: clamp(1rem, 1.8vw, 1.5rem);
  max-width: 100ch;
}

.header-home {
  position: relative;
  background-color: #8b4512;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.header-home nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  height: 100dvh;
  width: 100%;
  pointer-events: none;
  background: rgba(235, 139, 70, 0.7);
  backdrop-filter: blur(8px);
  overflow: hidden;
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.header-home nav.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.header-home nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
}
.header-home nav ul li {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  width: auto;
  margin: 1rem 0;
  color: white;
  border-bottom: 2px solid #8b4512;
}

.header-close {
  border: none;
  background: inherit;
  position: absolute;
  top: 2px;
  right: 2px;
}

.header_top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 100%;
}
.header_top figure {
  margin-inline: 0.7rem;
  border: none;
}
.header_top button {
  border: none;
  background: inherit;
  color: white;
}

.banner {
  flex-basis: 100%;
  min-height: 80dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  border-top: 3px solid white;
  background-image: url("../img/banner.webp");
  background-size: cover;
  background-position: center;
}
.banner p {
  padding: 1rem;
}
.banner a {
  font-size: clamp(1rem, 1.8vw, 1.5rem);
  background-color: #eb8b46;
  padding: 1rem;
  margin: 1rem 0;
  border: none;
  border-radius: 1rem;
  transition: transform 0.2s ease, border 0.2s ease;
}
.banner a:hover {
  transform: scale(1.1);
  border: 1px solid white;
  color: black;
}

@media (min-width: 1024px) {
  .header-home {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  .header-home nav {
    flex: 1 0 40%;
    position: static;
    opacity: 1;
    transform: none;
    pointer-events: auto;
    overflow: visible;
    background: none;
    width: auto;
    height: auto;
  }
  .header-home nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    flex: 1;
  }
  .header-home nav ul li {
    border-right: 1px solid white;
    padding-inline: 1rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.12);
    margin-inline: 1rem;
  }
  .header_top {
    flex: 0 0 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  button {
    display: none;
  }
}
footer {
  background-color: #8b4512;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 3rem;
  padding: 1.5rem;
}
footer li {
  font-size: clamp(1rem, 2vw, 1.2rem);
  width: fit-content;
  margin: 1.5rem 0;
  transition: 0.2;
}
footer li:hover {
  transform: scale(1.2);
}
footer li a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}
footer .footer__brand {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid white;
}
footer .footer__contact {
  padding: 1rem;
}
footer .footer__info {
  padding: 1rem;
}
footer span {
  text-align: center;
  border-top: 2px solid white;
  padding: 1rem;
  display: block;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

@media (min-width: 768px) {
  .footer_conteneur {
    max-width: 1000px;
    width: 80%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas: "brand brand" "contact info" "copy copy";
  }
  .footer_conteneur .footer__brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: brand;
    text-align: center;
  }
  .footer_conteneur .footer__contact {
    grid-area: contact;
  }
  .footer_conteneur .footer__info {
    grid-area: info;
  }
  .footer_conteneur span {
    grid-area: copy;
    text-align: center;
  }
}
.home_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  max-width: 1800px;
  margin: 0 auto;
}

.home_section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
  border-radius: 1rem;
  width: 80%;
  margin: 2rem auto;
}
.home_section figure {
  width: 100%;
}
.home_section figure picture > img {
  width: 100%;
  height: auto;
}

.white {
  background-color: white;
}

.home-horaire {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 70%;
  margin: 2rem auto;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}
.home-horaire:hover {
  transform: translateY(-10px);
}
.home-horaire h3 {
  text-align: center;
}
.home-horaire table {
  border-collapse: collapse;
  text-align: center;
}
.home-horaire table thead {
  font-size: clamp(1.3rem, 2vw, 1.5rem);
}
.home-horaire table tbody {
  border-top: 1px solid #8b4512;
}
.home-horaire table tbody tr:nth-child(even) {
  background-color: #eb8b46;
}
.home-horaire table td {
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .home_section {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  .home_section h3 {
    flex: 1 0 100%;
  }
  .home_section p {
    flex: 1 1 40%;
  }
  .home_section figure {
    flex: 0 0 40%;
  }
  .home_section figure picture > img {
    width: 70%;
    margin: 0 auto;
  }
  .home-horaire {
    width: 40%;
  }
}
.main_menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 1800px;
  margin: 0 auto;
}
.main_menu section {
  padding: 4rem 0.5rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2rem;
  background: rgba(235, 139, 70, 0.2);
}
.main_menu section:nth-child(even) {
  background: rgba(255, 255, 255, 0.2);
}
.main_menu section figure {
  flex: 1 0;
  width: 100%;
  height: 100%;
}
.main_menu section figure picture > img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.btn-nav-second {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30%;
  border: none;
  padding: 0.5rem;
  background-color: #eb8b46;
  gap: 0.5rem;
}

aside {
  background-color: #eb8b46;
  color: white;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  pointer-events: none;
  transform: translateY(-50px);
  transition: opacity 0.4s ease, max-height 0.4s ease, transform 0.4s ease;
}
aside.open_side {
  opacity: 1;
  max-height: 100dvh;
  transform: translateY(0);
  pointer-events: auto;
  overflow: visible;
}
aside ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
aside ul li {
  margin-bottom: 2rem;
  padding: 0.5rem;
}
aside ul li a {
  display: block;
}

@media (min-width: 768px) {
  .main_menu section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .main_menu section h3 {
    flex: 0 0 100%;
  }
  .main_menu section ul {
    flex: 0 1 40%;
    text-align: center;
    align-self: center;
  }
  .main_menu section figure {
    flex: 1 0 40%;
    width: 100%;
    height: 100%;
  }
  .main_menu section figure picture > img {
    width: 80%;
    margin: 0 auto;
    height: auto;
  }
  .btn-nav-second {
    display: none;
  }
  aside {
    opacity: 1;
    max-height: 70px;
    overflow: visible;
    pointer-events: auto;
    transform: translateY(0);
    transition: none;
    transform: translateY(0);
    pointer-events: auto;
    overflow: visible;
  }
  aside ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  aside ul li {
    margin: 0 2rem;
    padding: 0.5rem;
    border-right: 2px solid white;
  }
  aside ul li a {
    display: block;
  }
}
.main_p_restaurant {
  max-width: 1800px;
  margin: 0 auto;
}

.photo {
  min-height: 50dvh;
  gap: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.photo h2 {
  text-align: center;
}

.card {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
}

.loc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1rem;
}
.loc .loc_map {
  width: 95%;
  margin: 0 auto;
}
.loc .loc_map iframe {
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .photo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .photo h2 {
    flex: 0 0 100%;
  }
  .photo_diapo {
    flex: 0 0 50%;
  }
  .card {
    flex: 1 0 40%;
    margin: auto 0;
  }
}

/*# sourceMappingURL=main.css.map */
